.anchoButton {
    padding: 5px;
    width: 120px;
}

.anchoButtonSettings {
    padding: 1px, 5px;
    width: 215px;
    white-space: nowrap;
}

.anchoButtonLogout {
    width: 120px;
    white-space: nowrap;
}

.anchoHelp {
    display: inline-block;
    width: 50px;
}

.fondo {
    background: #1d262d !important;
}

.ban {
    width: 30px;
    margin-right: 10px;
}

.idioma a {
    cursor: pointer;
}