.anchoButton 
{
    padding: 5px;
    width: 120px;
}

.anchoButtonSettings {
    padding: 1px, 5px;
    width: 215px;
    white-space: nowrap;
}

.anchoButtonLogout {
    width: 120px;
    white-space: nowrap;
}

.anchoHelp {
    display: inline-block;
    width: 50px;
}

.anchoButton {
    width: 200px;
}

.ban {
    width: 30px;
    margin-right: 10px;
}

.leng {
    padding-right: 20px !important;
}

.dropdown-menu-left {
    background: rgb(29, 38, 45);
    color: white;
}

.dropdown-item:hover {
    background: #151b1f;
}

.check {
    background: #444857 !important;
    border: 1px solid #444857 !important;
    color: white;
    border: transparent;
}
.line:hover, .line:focus {
    background: #444857 !important;
    border: 1px solid #444857 !important;
    color: white;
    border: transparent;
}

.line {
    border: 1px solid #dddddd !important;
}

.check:hover, .check:focus {
    background: transparent !important;
    border: 1px solid white !important;
    color: white;
    border: transparent;
}
.anchoButton {
    width: 200px;
}

.dropdown-menu-left {
    background: rgb(29, 38, 45) !important;
    color: white !important;
    cursor: pointer;
}

.dropdown-item:hover {
    background: rgb(18, 23, 27) !important;
    color: white;
}