.color {
    letter-spacing: 0px;
    font-size: 17px;
    display: block;
    color: #606060;
    font-weight: 600;
}
th {
    letter-spacing: 0px;
    font-size: 13px;
    color: #606060;
    font-weight: 600;
}
.nav-side-menu 
{
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: white;
    width: 300px;
    height: 100%;
    color: black;
}

.nav-side-menu .brand {
    background-color: white;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*    
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
  */
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #007bff;
    background-color: black;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #007bff;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #007bff;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: white;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #007bff;
    margin-left: 0px;
}

.mt5 {
    margin-top: 5px;
}

.ba {
    width: 20px;
    cursor: pointer;
}

.mt10 {
    margin-top: 10px;
}

.mr12{
    margin-right: 12px;
}

.mr70 {
    margin-right: 80px !important;
}
.bam {
    width: 20px;
    height: 18px;
    margin-top: 5px;
    cursor: pointer;
}

.no-seleccionable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.f-r {
    float: right;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: grey;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #007bff;
    border-bottom: 1px solid #007bff;
}

.nav-side-menu li a {
    text-decoration: none;
    color: black;
}

.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}

.nav-side-menu li:hover {
    border-left: 3px solid #007bff;
    background-color: grey;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

body {
    margin: 0px;
    padding: 0px;
}

.jumbotron {
    padding: 7px 20px 20px !important;
    background-color: white !important;
}

.report {
    position: relative !important;
    border-radius: 6px;
    max-height: 80vh;
    overflow-y: scroll;
    border: none;
    margin-top: 15px !important;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 1px 3px 3px rgb(136 136 136 / 6%), 0 1px 2px 0 rgb(0 0 0 / 6%) !important;
}

.calculoAlto {
    max-height: 80vh;
    position: relative;
    background: #fefefe;
    padding: 10px;
    border-radius: 6px;
    height: 100%;
    border: none;
    margin-top: 15px !important;
    margin-left: 15px;
    margin-right: 10px;
    box-shadow: 0 1px 3px 3px rgb(136 136 136 / 6%), 0 1px 2px 0 rgb(0 0 0 / 6%) !important;
}

.calculoAlto label {
    display: flex;
    font-size: 14px;
    color: #5f5f5f;
    font-weight: 600;
}

.calculoAltoMin {
    min-height: 73vh;
}

.scrollInputs {
    overflow-y: scroll;
} 

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.font-controls {
    position: absolute;
    top: .5em;
    right: .5em;
    display: flex;
    font-size: 1em;
  }
  
  .font-control {
    margin-left: .5em;
    padding: 1px .25em;
    border: 1px solid #000;
    cursor: pointer;
  }

.gray {
    background: #434756 !important;
    border: 1px solid #434756 !important;
    font-size: 12px;
    font-weight: 500 !important;
}
.form-control {
    display: block;
    width: 100%;
    height: 30px !important;
    padding: 5px 10px !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-sh
}

.mu {
    padding-right: 0px !important;
    padding-left: 7px !important;
}

.none {
    display: none;
}

.p0 {
    padding: 0 !important;
}

.p15 {
    height: 48px;
}

.m4 {
    margin-top: -3px;
}

.group span {
    display: none;
  }
   .group input {
    display: block;
    margin-bottom: 8px;
  }
  .group input:focus + span {
    background: #f4f4f4;
    border-radius: 4px;
    display: inline-block;
    padding: 4px 8px;
    position: relative;
  }
  .group input:focus + span:before {
    border-top: 6px solid transparent;
    border-bottom: 6px solid #f4f4f4;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    position: absolute;
    top: -12px;
    left: 12px;
    width: 0;
    height: 0;
  }
  

.text {
    font-size: 14px !important;
    font-weight: 500 !important;
}

.se {
    margin-bottom: 7px !important;
}

.se select {
    border: 2px solid #efefef !important;
}

.calculoAlto .custom-select {
    display: inline-block;
    padding: .375rem 1.75rem .375rem .75rem;
    font-weight: 600 !important;
    color: #5f5f5f;
    font-size: 12px;
    border: 1px solid #ced4da;
    height: 35px !important;
}

.calculoAlto input{
    padding: 6px 15px 6px 15px;
    height: 35px;
    font-weight: 600 !important;
    color: #5f5f5f;
}

.gb {
    background: #3d6173 !important;
    height: 90vh;
    padding-right: 0 !important;
    max-width: 18% !important;
    padding: 10px !important;
    margin: 0 0 0 15px;
}

.rstm-tree-item {
    color: white !important;
}

.table-secondary {
    background-color: #f0f3ff !important;
    border-color: transparent !important;
}

.w30 {
    width: 30%;
}

.w45 {
    width: 45%;
    background: white;
}


.point {
    cursor: pointer;
}


.mr5 {
    margin-right: 7px;
}

.amp {
    right: 0;
    position: absolute;
    margin-right: 25px;
}

.amp1 {
    margin-left: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 15px;
}

.calculo .table-bordered {
    border: 1px solid #fafafa;
}

.calculo thead {
    background: transparent !important;
    border: transparent !important;
}

.calculo th {
    border: 1px solid #fafafa !important;
    background: transparent !important;
}

.calculo td {
    border: 1px solid #fafafa !important;
    background: transparent !important;
}

td {
    letter-spacing: 0px;
    font-size: 13px;
    color: #606060;
    font-weight: 600;
}

.borde {
    border-top: 2px solid #dfdfdf;
    border-bottom: 2px solid #dfdfdf;
}

.borde1 {
    border: 2px solid #e9e9e9;
}

.pade {
    margin-top: 15px;
    margin-left: 20px;
}

.tamaño-actual, .tamaño-actual1 {
	font-weight: bold;
	font-size: 14px !important;
}


@media (max-width: 1024px) {

    .calculoAlto {
        max-height: 83vh !important;
        margin-bottom: 15px;
    }
    .report {
        max-height: 83vh;
    }

  }

  @media (max-width: 800px) {
    .calculoAlto {
    max-height: 79vh !important;
    margin-bottom: 15px;
    margin-right: 3px;
    }
    .calculoAltoMin {
        min-height: 67vh !important;
    }
    .calculoAlto a {
        font-size: 14px;
    }
    .report h2 {
        font-size: 15px;
    }
    .report a {
        font-size: 14px;
    }
    table {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .grid {
        display: grid !important;
    }
    .tbo .col-2 {
        max-width: 95% !important;
        max-height: 30vh;
        overflow-x: scroll;
    }
    .overflow-auto {
        width: 93% !important;
    }
    .report {
        width: 95% !important;
    }
}

@media (max-width: 414px) {
    .grid {
        display: grid !important;
    }
    .tbo .col-2 {
        max-width: 79% !important;
        max-height: 30vh;
        overflow-x: scroll;
    }
    .overflow-auto {
        width: 79% !important;
    }
    .report {
        width: 79% !important;
    }
}

@media (max-width: 411px) {
    .tbo .col-2 {
        max-width: 78% !important;
        max-height: 24vh;
        overflow-x: scroll;
    }
    .overflow-auto {
        width: 78% !important;
    }
    .report {
        width: 78% !important;
    }
}


@media (max-width: 375px) {
    .grid {
        display: grid !important;
    }
    .tbo .col-2 {
        max-width: 93% !important;
        max-height: 25vh;
        overflow-x: scroll;
    }
    .overflow-auto {
        width: 93% !important;
    }
    .report {
        width: 93% !important;
    }
}

@media (max-width: 325px) {
    .grid {
        display: grid !important;
    }
    .tbo .col-2 {
        max-width: 65% !important;
        max-height: 30vh;
        overflow-x: scroll;
    }
    .overflow-auto {
        width: 65% !important;
    }
    .report {
        width: 65% !important;
    }
}