/* BASIC */

body {
  background: url("/src/img/fondo.jpg");
  background-repeat: no-repeat !important;
  background-position: center;
  background-size: cover; 
  height: 100vh;
}

body::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh !important;
  background:rgba(25, 25, 26, 0.3);
  z-index:-1;
}

label {
    display: inline-block;
    margin-bottom: 0 !important;
}

.formContent {
  width: 370px;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  padding: 40px 0px 0px !important;
  border-top: 3px solid #28a745 !important;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 0 0 10px 10px;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 10px 10px 10px;
  text-align: center;
  position: inherit;
  border-radius: 0 0 10px 10px;
}

#formFooter a {
text-align: 12px;
font-size: 14.5px;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
}

a.underlineHover {
  color: #0052b4;
}

.pg {
  padding: 0 16px 25px !important;
}

.pgl {
  padding: 0 16px 13px !important;
}

.mail {
    margin-bottom: 10px !important;
}
  
.loginCard {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-top: 3rem;
}

.btn {
    padding: 4px 12px;
    font-size: 15px;
    line-height: 20px;
}

.boton {
  background-color: #39ace7;
  border: none;
  color: white;
  width: 100%;
  line-height: 1.4;
  font-weight: 600 !important;
  padding: 8px 70px !important;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px !important;
/*   -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4); */
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: transparent !important;
}

.boton:hover {
  background-color: #053a55 !important;
  color: white;
}

.boton:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text], input[type=email], input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px 15px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 0;
  width: 100%;
  border: 2px solid #efefef;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  background-color: #fff;
  border: transparent;
  box-shadow: transparent !important;
  color: black;
}

.form-group {
    margin-bottom: 0 !important;
}

.idioma a {
    cursor: pointer;
} 


h5 {
  font-weight: 700;
}

#login-box .form-group i {
  position: absolute;
  left: 15px;
  top: 14px;
  font-size: 18px;
  color: #374753;
}

#login-box .form-group{
  position: relative;
}

#login-box .form-control {
  padding-left: 40px;
  min-height: 40px;
  border-radius: 3px;
}


.mensaje {
  text-align: left;
  color: gray;
}

.formRecover {
  width: auto;
  max-width: 450px;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  padding: 25px 0px 0px !important;
  border-top: 3px solid #28a745 !important;
  margin-top: 6rem;
  border-radius: 0 0 10px 10px;
}

.formMessage {
  width: auto;
  max-width: 490px;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  padding: 25px 0px 0px !important;
  border-top: 3px solid #28a745 !important;
  margin-top: 8rem;
  border-radius: 0 0 10px 10px;
}

.clave input {
  background-color: #ffffd7;
}

.t-l {
  text-align: left !important;
}

.imgMail {
  width: 20%;
}

.centra {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb1 {
  margin-bottom: 10px;
}

.ml9 {
  margin-left: 9px;
}
#login-column {
  font-size: 13px;
  padding: 5px 8px 0;
}

.password-icon {
  float: right;
  position: relative;
  margin: -30.9px 35px 0 0;
  cursor: pointer;
}

.logo {
  width: 120px;
}
.eye {
  position: absolute;
  top: 48px;
  font-size: 16px;
  color: #374753;
  float: right;
  right: -2px;
}

.regEye {
  right: 6px !important;
}

.invalidR {
  position: relative;
  width: 200% !important;
  margin-top: .25rem;
  font-size: 70% !important;
  color: #dc3545;
}

.inRegis {
  position: relative;
  margin-top: .25rem;
  font-size: 70% !important;
  left: 0;
  color: #dc3545;
  background: white;
}

.p5 {
  padding: 0 8px !important;
  margin-right: 7px;
  margin-top: -7px;
  padding-right: 5px !important;
  width: 30% !important;
}

.w31 {
  width: 63% !important;
}

.p0 {
  padding: 0;
}

.f13 {
  font-size: 90%;
}



@media (max-width: 800px) {
  .formContent {
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 25px 0px 0px !important;
  }
  #formFooter a {
    font-size: 14px;
  }
  .formContentReg .text-center {
    margin-bottom: 8px !important;
  }
  .reg {
    padding: 10px 20px !important;
  }
  #formFooter {
    padding: 5px 10px 5px;
  }
  .col-form-label {
    padding-right: 0px !important;
    padding-left: 6px !important;
}
.form-group .col-sm-7 {
    padding-right: 0px !important;
    padding-left: 9px !important;
}
}


@media (max-width: 570px) {
  input[type=text], input[type=email], input[type=password] {
    font-size: 15px;
  }
  .formContentReg {
    width: 360px;
  }
  body {
    height: auto;
  }
  #login-box h5 {
    font-size: 22px;
  }
  .logo {
    width: 105px;
}
.foot {
  line-height: 20px !important;
}
.f13 {
  font-size: 88%;
}
#formFooter a {
  font-size: 14px;
}
}


@media (max-width: 378px) {
  .p-0 {
    padding: 0;
  }
  .formContent {
    width: 318px;
    padding: 15px 0px 0px !important;
  }
  input[type=text], input[type=email], input[type=password] {
    padding: 15px 10px 15px 15px;
  }
  #login-box h3 {
    margin-bottom: 1rem!important;
  }
  .board {
    position: absolute;
    display: none;
  }
  .reg {
    padding: 15px 5px;
    margin: 0 !important;
}
.formContentReg h3 {
  font-size: 20px;
}
}

@media (max-width: 325px) {
  .formContent {
    width: 280px;
  }
  #login-box {
    padding: 0;
  }
  .formContent {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
  input[type=text], input[type=email], input[type=password] {
    font-size: 14px;
  }
  small {
    font-size: 73% !important;
    font-weight: 400;
}
}