body {
    background: url("/src/img/fondo.jpg");
    background-repeat: no-repeat !important;
    background-position: center;
    background-size: cover; 
    height: 100% ;
}

body::after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100% !important;
    background:rgba(25, 25, 26, 0.3);
    z-index:-1;
}

.fondo {
    width: 100%;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    /* background: #1d262d  !important; */
    background: #e7e7e7  !important;
}

.foot {
    /* background: #1d262d  !important; */
    /* background: #caf6f6 !important; */
    background: #e7e7e7  !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    position: fixed;
    bottom: 0;
    line-height: 31px !important;
    height: 35px !important;

    display: inline-block !important;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    justify-content: space-between;
}

.line, .check {
    padding: 3px 0.75rem !important;
}
.btn-outline-light {
    border-color: #e3e3e3;
}

.foot a {
    cursor: pointer;
}

.calculoAlto::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.calculoAlto::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.calculoAlto::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.calculoAlto::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}