.fondo 
{
    background: #1d262d !important;
}

.foot {
    background: #1d262d !important;
    position: fixed;
    bottom: 0;
    height: 57px;
}

.line, .check {
    padding: 3px 0.75rem !important;
}