.formContentReg 
{
    max-width: 560px;
    border-radius: 10px 10px 10px 10px !important;
    background: #fff;
    padding: 0px !important;
    position: relative !important;
    box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
    margin-bottom: 60px;
}

.reg {
    padding: 20px;
    margin: 0 !important;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
}

.p {
    padding: 1px 0 !important;
}

.margen {
    padding-right: 9px !important;
}

.display {
    display: inline-flex;
}

.botonReg {
    background-color: #39ace7;
    border: none;
    color: white;
    width: 100%;
    font-weight: 600 !important;
    padding: 8px 70px !important;
    text-align: center;
    text-decoration: none !important;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px !important;
    border-radius: 5px 5px 5px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: transparent !important;
    margin-top: 12px !important;
  }

  .botonReg:hover {
    background-color: #053a55 !important;
    color: white;
  }

