.formContentReg 
{
    max-width: 560px;
    border-radius: 10px 10px 10px 10px !important;
    background: #fff;
    padding: 0px !important;
    position: relative !important;
    box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
    margin-bottom: 60px;
    margin-top: 4rem;
}

.invalidR {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100% !important;
    top: 46px;
    margin-top: 0px !important;
    font-size: 55% !important;
    font-weight: 400;
}

.pass {
    padding-right: 60px !important;
}

.phone .col-md-3 {
    width: 50%;
    padding: 3px;
}

.reg {
    padding: 20px;
    margin: 0 !important;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
}
.form-text {
    text-align: justify;
}

.p {
    padding: 1px 0 !important;
}

.margen {
    margin-right: 9px !important;
}

.display {
    display: inline-flex;
}

.botonReg {
    background-color: #39ace7;
    border: none;
    color: white;
    width: 100%;
    font-weight: 600 !important;
    padding: 8px 70px !important;
    text-align: center;
    text-decoration: none !important;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px !important;
    border-radius: 5px 5px 5px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: transparent !important;
    margin-top: 12px !important;
  }

  .botonReg:hover {
    background-color: #053a55 !important;
    color: white;
  }

  .h4 {
    height: 45px !important;
  }

  .ml-7 {
    margin-left: -7px;
  }
  .df {
    display: flex;
  }

  .f-l {
      float: left;
  }

  .mt0 {
      margin-top: 0px;
  }

  @media (max-width: 800px) {
    .formContentReg 
    {
        margin-top: 3rem;
    }
  }

  @media (max-width: 500px) {
    .formContentReg 
    {
        margin-top: 1.5rem;
    }
    h3 {
        font-size: 20px !important;
    }
    .formContentReg input {
        padding: 5px 10px;
    }
    .h4 {
        height: 40px !important;
    }
    .formContentReg .form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label {
        top: -.6rem;
        left: 0.5rem;
        font-size: 12px;
        font-weight: 500;
        z-index: 10;
    }
    .formContentReg .form__label {
        left: 8px !important;
    }
    .ml-7 {
        padding-right: 0 !important;
    }
    .foot {
        line-height: 25px !important;
        height: 25px !important;
    }
  }

  @media (max-width: 375px) {
        .formContent {
            margin-top: 2rem;
            margin-bottom: 3rem;
        }
        .formContentReg {
            margin-top: 1rem;
            max-width: 330px !important;
        }
  }


  @media (max-width: 325px) {
    .reg input 
    {
        font-size: 12px !important;
    }
    .formContentReg {
        width: 280px;
      }
      .formContentReg h3 {
        font-size: 17px !important;
      }
     
  }