.sideBar 
{
    border-radius: 5px;
}

.altoCompleto {
    border-radius: 5px;
    min-height: 73vh;
    padding-right: 0px !important;
}

.list-group-item {
    padding: .5rem 1.25rem;
}

.mr9 {
    margin-right: 9px;
}

.altoCompleto .form-control {
    background-color: #fdfdfd !important;
}

.ban {
    margin-right: 9px !important;
}

.nav3 .text-dark {
    font-size: 14px;
}

.nav3 .dropdown-item {
    padding: 1px 8px;
}

.nav3 .dropdown-menu {
    padding: .1rem 0;
    min-width: 9rem;
    transform: translate3d(-117px, -3px, 0px);
}

.list-group {
    max-height: 65vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.tbo {
    background: #f5fbff;
    padding: 0 !important;
    overflow-y: hidden !important;
    overflow-x: hidden;
}

.new {
    font-size: 1rem;
    padding-left: 5px !important;
    background: #525769 !important;
    border-color: transparent !important;
}

.nav-item a {
    font-size: 16px;
}

.gris {
    background-color: #3d6173 !important;
    width: 220px;
    position: relative !important;
    border-radius: 0;
    transition: .600s;
    height: 90vh;
    touch-action: none;
    padding: 8px 8px 0 8px !important;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .vt {
    padding-left: 0px !important;
  }

  .container-fluid {
      overflow-y: hidden;
  }

  .wh {
      background-color: white !important;
  }

  .list-group {
      overflow-x: hidden;
  }

  #project {
      position: absolute;
  }

.cpan {
    overflow-y: hidden;
}

.sideBar {
    margin-left: 0px !important;
}

.board input {
    padding: 5px 5px 5px 10px;
}

.fa-edit {
    margin-right: 10px;
    color: #007bff;
}
.pad51 {
    padding: .5rem 1rem !important;
}

.fa-trash {
    color: #dc3545;
}
.controls a {
    cursor: pointer;
}

.edit {
    width: 40% !important;
}

@media (max-width: 800px) {
    .sidebar-sticky input {
        font-size: 14px !important;
    }
    input[type=text], input[type=email], input[type=password] {
        font-size: 14px !important;
    }
}

@media (max-width: 500px) {
    .new {
        font-size: 13px !important;
    }
    .nav-item a {
        font-size: 12px;
    }
    .list-group a {
        font-size: 12px;
        padding-left: 3px !important;
    }
    .header a, .header1 a {
        font-size: 12px;
    }
    input[type=text], input[type=email], input[type=password] {
        font-size: 12px !important;
    }
    .tbo .btn {
        padding: 2px 6px !important;
        font-size: 12px !important;
    }
    .wh {
        padding: 15px 10px 15px 11px;
    }
    .list-group-item {
        padding: .75rem 10px !important;
    }
    .btn-outline-light {
        margin-bottom: .2rem!important;
        margin-top: .2rem!important;
    }
    .help {
        padding: 0px 0 2px !important;
        margin-left: 10px;
    }
    
}


