.sideBar 
{
    border-radius: 5px;
}

.altoCompleto {
    border-radius: 5px;
    min-height: 73vh;
}

.list-group {
    max-height: 65vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.tbo {
    background: #f4f4f4;
    padding: 0 !important;
    overflow-y: hidden !important;
    overflow-x: hidden;
}

.gris {
    background-color: #3d6173 !important;
    width: 220px;
    position: relative !important;
    border-radius: 0;
    transition: .600s;
    height: 90vh;
    touch-action: none;
    padding: 15px !important;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .vt {
    padding-left: 0px !important;
  }

  .container-fluid {
      overflow-y: hidden;
  }

  .new {
    background: #525769 !important;
    border-color: transparent !important;
  }

  .wh {
      background-color: white !important;
  }

  .list-group {
      overflow-x: hidden;
  }