/* .bordeColor {
    border-bottom: 2px solid #007bff;
} */

.alto {
    position: relative;
    padding-top: 25px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 0 0.1px 0px rgb(0 0 0 / 0%), 0 0.2px 0px rgb(0 0 0 / 0%), 0 0.4px 0px rgb(0 0 0 / 0%), 0 0.6px 0px rgb(0 0 0 / 0%), 0 0.9px 0px rgb(0 0 0 / 1%), 0 1.2px 0px rgb(0 0 0 / 1%), 0 1.8px 0px rgb(0 0 0 / 1%), 0 2.6px 0px rgb(0 0 0 / 1%), 0 3.9px 0px rgb(0 0 0 / 1%), 0 7px 0px rgb(0 0 0 / 1%);
}

.widget-heading {
    display: flex;
    justify-content: space-between;
    padding: 11px 0 1px 20px !important;
}

.con {
    border-radius: .3rem;
    padding: 30px !important;
}

.con input {
    background-color: #ffffd7;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px 15px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
    width: 100%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;
}

.p {
    font-size: 17.5px;
    font-weight: 500;
}

.ml {
    margin-left: 0px !important;
}

.in {
    background-color: #e9ecef;
    border: 1px solid #dadada;
    opacity: 1;
}

.ml .col-6 {
    padding-left: 0;
}

.block {
    display: block;
}

.set span {
    color: #005f9f;
}

.white {
    background: #f8f8f8;
    padding: 2px 20px 13px !important;
}

.p0 {
    padding: 0 !important;
}

.conte {
    padding: 10px 20px;
}

.bglight {
    background-color: #ffffff!important;
}

.pais {
    background-color: #f8f8f8;
    color: #0d0d0d;
    padding: 6px 32px 6px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
    width: 100%;
    border: 2px solid #f0f0f0;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;
}

.white label {
    font-weight: 500;
}
.mt10 {
    margin-top: 10px;
}

